/* <!-- Author : Shivani Patel
  Date:20/06/24
  Description: assignment 3 part  CSS   --> */

  /* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px; /* making the minimum width of the body */
  max-width: 1400px; /* making the maximum width of the body */
}

/* Layout */

section {
  float: left; /* Floats the section to the left */
  width: 50%;  /* Setting up the width of the section to 50% of its container */
}

aside {
  float: left; /* Floats the aside to the left */
  width: 30%; /* Setting up the width of the aside to 30% of its container */
}

nav {
  float: left; /* Floats the nav to the left */
  width: 20%; /* Setting up the width of the nav to 20% of its container */
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px; /* Add padding to header, section, aside, nav, and footer */
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66; /* Adding a 5px solid top border with color #a66 */
  border-bottom: 5px solid #a66; /* Adding a 5px solid bottom border with color #a66 */
}

/* Font Imports */
@font-face {
  font-family: 'lovatolight'; /* Declares the custom font 'lovatolight' */
  src: url('fonts/Lovato-Light-webfont.eot'); /* URL for EOT font format */
  src: url('fonts/Lovato-Light-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/Lovato-Light-webfont.woff2') format('woff2'), /* URL for WOFF2 font format */
       url('fonts/Lovato-Light-webfont.woff') format('woff'), 
       url('fonts/Lovato-Light-webfont.ttf') format('truetype'), 
       url('fonts/Lovato-Light-webfont.svg#lovatolight') format('svg'); /* URL for SVG font format */
  font-weight: normal; /* font weight */
  font-style: normal; /* font style */
}

@font-face {
  font-family: 'josefin_slabbold';
  src: url('fonts/josefinslab-bold-webfont.eot');
  src: url('fonts/josefinslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('fonts/josefinslab-bold-webfont.woff2') format('woff2'),
       url('fonts/josefinslab-bold-webfont.woff') format('woff'), /* URL for WOFF font format */
       url('fonts/josefinslab-bold-webfont.ttf') format('truetype'), /* URL for TTF font format */
       url('fonts/josefinslab-bold-webfont.svg#josefin_slabbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* typography stuff */

html {
  font-family: lovatolight, serif; /* Setting up the default font for HTML content */
  font-size: 10px; /* Making the base font size to 10px */
}

h1, h2 {
  font-family: josefin_slabbold, sans-serif;
  letter-spacing: 2px; /* Add 2px letter spacing */
}

h1 {
  font-size: 5rem; /* Set the font size of h1 to larger size */
  text-align: center; /* making text h1 in the center */
}

h2 {
  font-size: 3.2rem; /* Set the font size of h2 to 3.2rem */
}

section h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5; 
  letter-spacing: 0.5px; /* Adds 0.5px letter spacing */
  word-spacing: 3px; /* Adds 3px word spacing */
}

/* Link Styling */
a {
  outline: none; /* Removing outline from links */
}

a[href*="http"] {
  padding-right: 19px; 
  background: url(external-link-52.png) no-repeat 100% 0; /* Adds an external link icon to links with URLs containing "http" */
  background-size: 16px 16px; /* setting up the size of the background image */
}

a:link, a:visited {
  color: #a66; /* Set the color #a66 */
}

a:focus, a:hover {
  text-decoration: none; /* Removing underline on hover and focus */
}

a:active {
  color: transparent; /* Making  the text color transparent on links */
  text-shadow: 0px 0px 1px #f00, /* Adding a text shadow effect on  links */
               0px 0px 2px #f00,
               0px 0px 3px black,
               0px 0px 4px black;
}

/* Lists */
ul, ol {
  margin: 1.6rem 0; /* Add top and bottom margin to lists */
}

ul {
  list-style-type: square; /* Setting up the list style type to square for unordered lists */
}

ol {
  list-style-type: lower-latin; /* Setting up the list style type to lower-latin for ordered lists */
}

/* Nav Menu */
nav ul {
  padding-left: 0;
  margin-top: 0.8rem; /* Adding top margin */
}

nav li {
  list-style-type: none; /* Remove list style type from nav li */
  margin-bottom: 2rem; /* Adding bottom margin */
}

nav li a {
  text-decoration: none; /* Removes underline from nav links */
  display: inline-block; 
  width: 100%; /* Setting up the width of nav links to 100% */
  line-height: 3; /* Setting up the line height of nav links to 3 */
  text-align: center; /* which centers the text  */
  font-size: 2.5rem; 
  border: 1px solid #a66; 
}

nav li a:focus, nav li a:hover {
  color: white; /* make the color of nav links on hover and focus to white */
  background: #a66; /* make the background color of nav links on hover and focus to #a66 */
}

nav li a:active {
  color: white; /* make the color of nav links on active to white */
  background: black; /* make the background color of nav links on active to black */
}